@media screen and (max-width: 1366px) {
  .capabilities {
    padding: 2.3rem 0rem;
    width: 100vw;
    background: #e5e5e5;
    margin: 3rem auto;

    .center {
      width: 80%;
      margin: 0rem auto;
      .heading {
        margin-top: 1rem;
        margin-bottom: 1.6rem;
        h1 {
          color: $bgHeadingColor;
        }
      }

      .plan {
        @include flexItem(row, space-between);
        width: 70%;

        .container-one,
        .container-two,
        .container-three,
        .container-four {
          width: 20rem;
          height: 12rem;
          margin: 1rem 0rem;
        }

        // .container-one {
        //   background: blue;
        // }

        // .container-two {
        //   background: orange;
        // }

        // .container-three {
        //   background: greenyellow;
        // }

        // .container-four {
        //   background: brown;
        // }

        .container-one {
          .heading {
            margin: 2rem 0rem;
          }
        }

        .container-one,
        .container-two,
        .container-three,
        .container-four {
          .sub-heading {
            margin-bottom: 0.9rem;

            h2 {
              font-size: 1.67em;
            }
          }

          p {
            font-size: 1.17em;
          }
        }
      }
    }
  }

  .works {
    .center {
      margin-top: 3.3rem;
    }

    padding: 3rem 0rem;
    margin-top: 3.1rem;

    h1 {
      text-align: center;
      margin-bottom: 1.2rem;
      font-size: 1.7em;
    }

    .items {
      width: 85%;
      margin: 2rem auto;
      @include flexItem(row, space-between);

      .container-1,
      .container-2,
      .container-3 {
        cursor: pointer;
        width: 20rem;
        height: 23rem;
        box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
        @include flexItem(column, center);
        align-items: flex-start;
        border-radius: 0.6rem;
        margin-top: 1.4rem;

        p,
        h3,
        .icon-text {
          margin-left: 1.3rem;
        }

        p {
          color: #999;
        }

        h3 {
          font-size: 1.7em;
        }

        .icon-text {
          margin-top: 0.8rem;
          @include flexItem(row, space-between);
          .icon {
            color: $blue;
          }
          p {
            margin-left: 0.8rem;
            font-size: 0.92em;
            color: #000;
          }
        }

        .plan {
          width: 85%;

          margin: 2.4rem auto 0rem auto;

          padding: 0.7rem 1rem;
          background: $blue;
          text-align: center;
          border-radius: 0.4rem;
          color: #fff;
          font-size: 0.94em;
        }
      }
    }
  }

  .sevices {
    padding: 3rem 0rem;

    .intro-heading {
      margin-top: 5rem;

      h1 {
        text-align: center;
        font-size: 1.9em;
      }

      .container {
        width: 80%;
        margin: 0rem auto;

        p {
          margin-top: 2rem;
          font-size: 1em;
        }
      }
    }
  }

  .present-works {
  margin: 3rem 0rem;
  padding: 5rem 0rem;

  h1 {
    text-align: center;
  }

  .container {
    @include flexItem(row, space-around);

    width: 75%;
    margin: 0rem auto;

    .data {
      box-shadow: 0rem 0rem 0.2rem rgba(0, 0, 0, 0.2);
      margin: 3rem auto 1rem auto;
      width: 43%;
      height: 17rem;
      position: relative;
      border-radius: 0.2rem;
      cursor: pointer;

      img {
        height: 75%;
        width: 100%;
      }

     .center-tx {
       height: 25%;
       @include flexItem(row, center);
        p {
        
        padding: 1rem;
        text-align: center;
        font-size: 1.2em;
        font-weight: bold;
      }
     }
    }
  }
}

   .page404 {
    padding: 0rem 0rem;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 12;
    @include flexItem(row, center);
    overflow: hidden;

    .container {
      margin-top: 0rem;
      @include flexItem(row, center);

      .text {
        width: 40%;
        height: 20rem;

        @include flexItem(column, center);

        h1 {
          font-size: 8em;
          color: $bgHeadingColor;
        }

        h2 {
          font-size: 1.2em;
          transform: translateY(-0.8rem);
        }

        a {
          background: #fff;
          color: $bgHeadingColor;
          padding: 0.45rem 1.1rem;
          border-radius: 0.2rem;
          border: 0.13rem solid $bgHeadingColor;
          margin-top: 1rem;
          transition: 0.2s linear;

          &:hover {
            color: #fff;
            background: $bgHeadingColor;
            transition: 0.2s linear;
          }
        }
      }

      .img {
        width: 40%;
        height: 20rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
